  <div class="feed">
    <ul>
      <li class="feed-list-item">
        <div class="feed-list-item-title" ng-click="$ctrl.changeView('anypostview')">This is an example blog post title.</div>
        <div class="feed-list-item-byline"><span class="feed-list-item-byline-author">Bob Loblaw</span> 3 days ago</div>
        <img src="http://www.placecorgi.com/350/197" ng-click="$ctrl.changeView('anypostview')" class="feed-list-item-image"/>
        <span class="feed-list-item-lede">Here is the opening paragraph to a hard-coded blog post, which contains the lede. These posts are hardcoded into the Feed component. You should refactor this component so it dynamically renders Feed Items (blog post previews). You can use the provided sample data to get started. </span>
      </li>
      <li class="feed-list-item">
        <div class="feed-list-item-title" ng-click="$ctrl.changeView('anypostview')">This is an example blog post title.</div>
        <div class="feed-list-item-byline"><span class="feed-list-item-byline-author">Bob Loblaw</span> 3 days ago</div>
        <img src="http://www.placecorgi.com/350/197" ng-click="$ctrl.changeView('anypostview')" class="feed-list-item-image"/>
        <span class="feed-list-item-lede">Here is the opening paragraph to a hard-coded blog post, which contains the lede. These posts are hardcoded into the Feed component. You should refactor this component so it dynamically renders Feed Items (blog post previews). You can use the provided sample data to get started. </span>
      </li>
      <li class="feed-list-item">
        <div class="feed-list-item-title" ng-click="$ctrl.changeView('anypostview')">This is an example blog post title.</div>
        <div class="feed-list-item-byline"><span class="feed-list-item-byline-author">Bob Loblaw</span> 3 days ago</div>
        <img src="http://www.placecorgi.com/350/197" ng-click="$ctrl.changeView('anypostview')" class="feed-list-item-image"/>
        <span class="feed-list-item-lede">Here is the opening paragraph to a hard-coded blog post, which contains the lede. These posts are hardcoded into the Feed component. You should refactor this component so it dynamically renders Feed Items (blog post previews). You can use the provided sample data to get started. </span>
      </li>
      <li class="feed-list-item">
        <div class="feed-list-item-title" ng-click="$ctrl.changeView('anypostview')">This is an example blog post title.</div>
        <div class="feed-list-item-byline"><span class="feed-list-item-byline-author">Bob Loblaw</span> 3 days ago</div>
        <img src="http://www.placecorgi.com/350/197" ng-click="$ctrl.changeView('anypostview')" class="feed-list-item-image"/>
        <span class="feed-list-item-lede">Here is the opening paragraph to a hard-coded blog post, which contains the lede. These posts are hardcoded into the Feed component. You should refactor this component so it dynamically renders Feed Items (blog post previews). You can use the provided sample data to get started. </span>
      </li>
    </ul>
  </div>